<script>
    $(document).ready(function() {

        // page is now ready, initialize the calendar...

        $('#calendar').fullCalendar({
            height: 650,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            eventSources: [{
                url: '/leave_requests',
                textColor: 'black',
                ignoreTimezone: false
            }],
            selectable: <%=!current_user.nil?%>,
            selectHelper: true,

            select: function(start, end, allDay) {
                //alert(start);
                //$(".popup").show();
                //$(".title").focus();
                var start = new Date(start); //Date.parse(start) / 1000;
                var end = new Date(end); //Date.parse(end) / 1000;
                var allDay = allDay;
                //$("#add_leave_request")
                var NewDialog = $(
                    '<div id="add_leave_request" title="Request Leave">' +
                        '<p>Request a leave from:</p>' +
                        '<p>' + start.toDateString() + '</p>' +
                        '<p>till:</p>' +
                        '<p>' + end.toDateString() + '</p>' +
                    '</div>'
                );
                NewDialog.dialog(
                    {
                        height: 300,
                        width: 350,
                        modal: true,
                        buttons: {
                            "Request it!": function() {
                                $.post("<%=leave_requests_path + '.json' %>",{leave_request:{date:start,leave_type:"Full day"}})
                                        .fail(function(xhr, textStatus, errorThrown) {
                                            //TODO ugly but works for now
                                            msg=""
                                            $.each(jQuery.parseJSON(xhr.responseText), function(key, val) {
                                                msg =msg +  (val + '\n');
                                            });
                                            alert(msg);
                                        });
                                $( this ).dialog( "close" );
                            },
                            Cancel: function() {
                                $( this ).dialog( "close" );
                            }
                        },
                        close: function() {
                            $('#calendar').fullCalendar( 'refetchEvents' );
                        }

                    }
                );

            }
        })
    });
</script>

<h1>Listing leave_requests</h1>

<div>
  <div id='calendar'></div>
</div>