<script>
    $(document).ready(function() {

        // page is now ready, initialize the calendar...

        $('#calendar').fullCalendar({
            height: 650,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            eventSources: [{
                url: '/leave_requests',
                textColor: 'black',
                ignoreTimezone: false
            }],
        })
    });
</script>

<h1>Listing leave_requests</h1>

<div>
  <div id='calendar'></div>
</div>

<%= link_to 'New Leave request', new_leave_request_path %>
